body {
  padding: 0;
  margin: 0;
}
.Header {
  background: black;
  margin: 0;
  padding: 0;
  display: block;
}

#headerOptions {
  width: auto;
  display: inline;
  border: gainsboro;
}

#imdbPic {
  display: inline;
  margin: 0%;
  height: 200;
  width: 140;
}

#login {
  background-color: light gray;
  border-radius: 30px 50px 15px;
  color: black;
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-family: fantasy;
  font-size: 18px;
  float: right;
  margin: 10px;
}

#login:hover {
  background-color: gray;
  color: #b8860b;
}
#search {
  border-radius: 15px 50px;
  transition-duration: 0.4s;
  background-color: gray;
  border: gainsboro;
  color: black;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

#search:hover {
  background-color: gray;
  color: #b8860b;
}

#searchBar {
  width: 400px;
  margin-left: 40px;
  border: 0%;
  padding: 5px 12px;
  border-radius: 15px 50px;
  font-size: 20px;
}

#options {
  width: auto;
  font-size: 20px;
  border-radius: 15px 50px;
  padding: 5px 12px;
}

.categories {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: gray;
  display: block;
}

#categoriesLink {
  font-family: fantasy;
  color-border: black;
  font-size: 20px;

  display: inline;
  color: #b8860b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 0.7px;
}

#categoriesLink :hover {
  transition-duration: 0.4s;
  color: blanchedalmond;
  background-color: #111;
}
main {
}

.all {
  display: flex;
  background:lightgray;
}

.links {
  flex: 1;
  background: lightgray;
}

.media {
  display: flex;
  flex-direction: row;
}

.movieDetiles {
  background-color: pink;
  height: 300px;
  flex: 2;
}

.visualData {
  background: blue;
  height: 600px;
  margin-right: -20px;
  padding-top: 50px;
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  background: lightgray;
}

.right {
  flex: 1;
  background: #A9A9A9;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 21px;
border-radius:50px 50px 50px 50px;
margin-left: 7px;
height: 950px;
margin-top: 10px;
text-align:center;

 
}


#movieName {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#rateNum {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #b8860b;
}
#user {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #b8860b;
}
#userRate {
  width: 70px;
  border-radius: 50px;
  padding: 5px 12px;
  font-family: fantasy;
  font-size: 15px;
}

#movieInfo {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #b8860b;
}

h1 {
  
  color: #b8860b;
  font-size: 50px;
  font-weight: bold;
  margin-top: 0px;
}
#asideLink {
  color: #b8860b;
  text-align: right;
  font-size: 30px;
  --margin-left:2px;
}

#asideData{
	--margin-left:2px;
}

.moreInfo {
  background: lightgray;
}
#moreDet {
  color: #b8860b;
  font-size: 35px;
  font-family: fantasy;
}

#bottomText {
  font-size: 25px;
  font-family: impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#addToWish {
  width: 300px;
  height: 40px;
  transition-duration: 0.4s;
  border: cadetblue;
  position: relative;
  font-family: impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 20px;
  border-radius: 50px;
  font-size: 25px;
}

#addToWish:hover {
  background-color: #b8860b;
  color: white;
}
